<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ css_path }}">
</head>

<body>
  <!-- ================= HEADER ================= -->
  <header>
    <img src="{{ header_path }}" alt="company header">
  </header>

  <p><i>Private & Confidential</i></p>

  <b>
    <p>{{date}}</p>
    <p>
      To,<br />
      {{name}}<br />
      {{designation}}<br />
      {{band}} <br />
      {{business_unit}} <br />
    </p>
  </b>

  <p>Dear <b>{{name}}</b>,<br /></p>

  <p>We at Aster DM Healthcare, would like to thank you for your valuable contribution during {{performance_year}}.</p>

  <p>
    Further to your recent annual review discussion for {{performance_year}} with your manager(s) on your performance
    KPI's and/or Aster behavioral competencies, your overall performance has been assessed as <b>“{{rating_label}}”</b>.
  </p>

  <p>
    To help you succeed in your role, and as part of your development, you will be part of the Performance Improvement
    Planning process, which will help align your performance with the Organization’s and your role’s expectations.
    During this period, your performance will be continuously reviewed for the next <b>"{{pip_duration}}"</b>, with
    effect from
    <b>"{{pip_effective_date}}"</b>. Your manager, with support from your HR Business Partner, will work towards
    articulating focused improvement and achievement areas which will be reviewed over the period.
  </p>

  <p>
    We on behalf of the Leadership team at Aster DM Healthcare, take this opportunity to express our gratitude and
    appreciation and look forward to your continued commitment as you grow with our Organization. We are confident that
    with your support we will continue to achieve our shared vision of serving the world with accessible and affordable
    quality healthcare while embodying our core culture of Aster CARES.
  </p>

  <br />

  <p>We wish you a great career ahead with Aster DM Healthcare.</p>
  <br />

  <p>For and on behalf of <b>Aster DM Healthcare,</b><br /></p>

  <div class="signature">
    {% if signature_path %}
    <img src="{{signature_path }}" /><br />
    {% endif %}

    <b>
      {{signatory_name}}<br />
      {{signatory_designation}}<br /><br />
      {{vertical}}<br />
    </b>
    <br />
  </div>

  <p style="font-size: 12px;"><i>
      Please note that salary and performance rating details are strictly confidential and
      should not be discussed or disclosed with others.
    </i></p>

  <footer>
    <img src="{{ footer_path }}" alt="footer">
  </footer>

</body>

</html>